@{
    ViewBag.Title = "Index";
}

<script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/highcharts.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.signalR-0.5.3.min.js")" type="text/javascript"></script>
<script src="/signalr/hubs" type="text/javascript"></script>

<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bootstrap.min.css")" />

<script type="text/javascript">
    var sizeChart;
    var waitChart;
    var sizeStack = [],
                time = (new Date()).getTime(),
                i;
    var waitStack = [],
                time = (new Date()).getTime(),
                i;

    var maxStackSize = 20;

    $(function () {
        var conn = $.hubConnection(), 
            queue = conn.createProxy("queue");

        conn.logging = true;
        conn.start();

        queue.on('reportQueueSize', function (currentSize) {

            //if (sizeStack.count>=maxStackSize){
            //    sizeStack[0].pop();
            //}
                
            sizeStack.push({
                x: (new Date()).getTime(),
                y: parseInt(currentSize)
            });

            sizeChart.get('sizeData').setData(sizeStack);

            $('#currentSize').text(currentSize);
        });

        queue.on('reportAverageWait', function (waitTime) {

            //if (waitStack.count >= maxStackSize) {
            //    waitStack[0].pop();
            //}

            waitStack.push({
                x: (new Date()).getTime(),
                y: parseInt(waitTime)
            });

            waitChart.get('waitData').setData(waitStack);

            $('#waitTime').text(waitTime);
        });

        sizeChart = new Highcharts.Chart({
            chart: {
                renderTo: 'sizeChart',
                type: 'spline'
            },
            title : null,
            xAxis: {
                type: 'datetime',
                tickPixelInterval: 150
            },
            yAxis: {
                title: {
                    text: 'Callers in Queue'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            series: [{
                id: 'sizeData',
                name: 'Size Data',
                data: sizeStack
            }]
        });

        waitChart = new Highcharts.Chart({
            chart: {
                renderTo: 'waitChart',
                type: 'spline',
            },
            title: null,
            xAxis: {
                type: 'datetime',
                tickPixelInterval: 150
            },
            yAxis: {
                title: {
                    text: 'Average Time in Queue (in seconds)'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            series: [{
                id: 'waitData',
                name: 'Wait Data',
                data: waitStack
            }]
        });

        $('#waitChart .highcharts-legend').hide();
        $('#sizeChart .highcharts-legend').hide();

        sizeStack.push({
            x: (new Date()).getTime(),
            y: 0
        });
        sizeChart.get('sizeData').setData(sizeStack);

        waitStack.push({
            x: (new Date()).getTime(),
            y: 0
        });
        waitChart.get('waitData').setData(waitStack);
    });
      
</script>

<div class="container">
    <a href="https://github.com/devinrader/Queue-Demo"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>
    <div class="hero-unit">
        <p>Give it a try.  Call <strong>1-314-403-7634</strong> to be placed in the queue.</p>
        <p>From the UK, you can dial <strong>+44 020 3322 3082</strong></p>
        <h1>Queue Size: <span id="currentSize">0</span></h1>
        <h1>Average Wait: <span id="waitTime">0</span></h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="span6" id="sizeChart" style="height: 400px"></div>
        <div class="span6" id="waitChart" style="height: 400px"></div>
    </div>
</div>




